<h2>Sign up</h2>

<div class="panel">
	<p>With <%= link_to_user(@availability.mentor) %> on <%= display_availability(@availability) %></p>

	<%= form_tag appointment_requests_path(:availability_id => @availability) do %>
	<p>Name <%= text_field_tag :first_name, params[:first_name] %><%= text_field_tag :last_name, params[:last_name] %></p>
	<p>Twitter handle <%= text_field_tag :twitter_handle, params[:twitter_handle] %></p>
	<p>Email address <%= text_field_tag :email, params[:email] %></p>
	<input type="submit" />
	<% end %>
</div>