<h1>Sign up</h1>

<p>With <%= link_to_user(@availability.mentor) %> on <%= display_availability(@availability) %></p>

<%= form_tag appointments_path(:availability_id => @availability) do %>
<p>Name: <%= text_field_tag :first_name %><%= text_field_tag :last_name %></p>
<p>Twitter handle: <%= text_field_tag :twitter_handle %></p>
<p>Email address: <%= text_field_tag :email %></p>
<input type="submit" />
<% end %>