<h2>Available Mentoring Opportunities</h2>
<% if @availabilities.empty? %>
  There isn't currently any upcoming mentoring availibility. <%= link_to "Offer to mentor someone!", new_availability_path %>
<% end %>
<% @availabilities.each do |a| %>
<p>
  <%= link_to_user(a.mentor) %>
  on <%= display_availability(a) %>
  <%= link_to "Sign up", new_appointment_request_path(:availability_id => a.id) %>
</p>
<% end %>

<% unless @appointments.empty? %><h1>Upcoming Mentoring Appointments</h1><% end %>
<% @appointments.each do |a| %>
<p>
  <%= display_appointment(a) %>
</p>
<% end %>
