<!DOCTYPE html>
<html>
<head>
  <title>MentorPairing</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<h1>Pairing <span>Is</span> Caring</h1>
	  <ul>
	    <li style="display: inline;"><%= link_to "Availabilities", availabilities_path %></li>
	    <li style="display: inline;"><%= link_to "Offer to mentor someone", new_availability_path %></li>
	  </ul>
	</header>
	<p style="color:green"><%= flash[:notice] %></p>

	<section>
		<%= yield %>
	</section>

</body>
</html>
